
<p>
  <b>Nicovideo:</b>
  <%= @video.nicovideo_id %>
</p>

<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>Description:</b>
  <%= @video.description %>
</p>

<p>
  <b>Thumbnail url:</b>
  <%= @video.thumbnail_url %>
</p>

<p>
  <b>First retrieve:</b>
  <%= @video.first_retrieve %>
</p>

<p>
  <b>Length:</b>
  <%= @video.length %>
</p>

<p>
  <b>View counter:</b>
  <%= @video.view_counter %>
</p>

<p>
  <b>Comment num:</b>
  <%= @video.comment_num %>
</p>

<p>
  <b>Mylist counter:</b>
  <%= @video.mylist_counter %>
</p>

<p>
  <b>Watch url:</b>
  <%= @video.watch_url %>
</p>

<p>
  <b>Nicovideo user:</b>
  <%= @video.nicovideo_user_id %>
</p>

<p>
  <b>Nicovideo Tags:</b>
  <%= @video.nicovideo_tag_list %>
</p>

<%= link_to 'Back', videos_path %>
